@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
/* lato-regular - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/lato-v16-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v16-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v16-latin-regular.woff2") format("woff2"), url("../fonts/lato-v16-latin-regular.woff") format("woff"), url("../fonts/lato-v16-latin-regular.ttf") format("truetype"), url("../fonts/lato-v16-latin-regular.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-700 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/lato-v16-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v16-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v16-latin-700.woff2") format("woff2"), url("../fonts/lato-v16-latin-700.woff") format("woff"), url("../fonts/lato-v16-latin-700.ttf") format("truetype"), url("../fonts/lato-v16-latin-700.svg#Lato") format("svg");
  /* Legacy iOS */
}

/* lato-900 - latin */
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/lato-v16-latin-900.eot");
  /* IE9 Compat Modes */
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-v16-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/lato-v16-latin-900.woff2") format("woff2"), url("../fonts/lato-v16-latin-900.woff") format("woff"), url("../fonts/lato-v16-latin-900.ttf") format("truetype"), url("../fonts/lato-v16-latin-900.svg#Lato") format("svg");
  /* Legacy iOS */
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
  color: black;
}

img {
  max-width: 100%;
  height: auto;
}

.next-trip__title, .places__title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 10px;
}

.next-trip__title::after, .places__title::after {
  display: block;
  content: "";
  width: 253px;
  height: 3px;
  background-color: #006dfe;
  position: absolute;
  bottom: 0;
  left: 0;
}

.card__link, .next-trip__view, .tours__more {
  display: inline-block;
  color: #006dfe;
  text-decoration: none;
  padding-right: 59px;
  background: url(../images/svg/arrow.svg) no-repeat 95% center;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.card__link:hover, .next-trip__view:hover, .tours__more:hover, .card__link:focus, .next-trip__view:focus, .tours__more:focus {
  background: url(../images/svg/arrow.svg) no-repeat right center;
}

.layout {
  max-width: 1060px;
  margin: 0 auto;
}

.layout-full {
  max-width: 1262px;
  margin: 0 auto;
}

/* Header styles start */
.container {
  height: 0;
  overflow: visible;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 100;
}

.header_active {
  background: #0e1d28;
}

.header__wrapper {
  padding-top: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  padding: 0;
  margin: 0;
}

.header__item {
  display: inline;
  margin-right: 82px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  color: white;
}

.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}

/* Header styles end */
/*Intro styles start*/
.intro {
  min-height: 100vh;
  background: url("../images/intro-bg.jpg") no-repeat center;
  background-size: cover;
  color: white;
  padding-top: 263px;
  padding-bottom: 223px;
}

.intro__title {
  max-width: 619px;
  margin: 0;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  margin-bottom: 22px;
}

.intro__subtitle {
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search-form__field {
  background: transparent url(../images/svg/oval.svg) no-repeat left 7px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #bfc0c5;
  width: 297px;
  height: 49px;
  padding-left: 23px;
  padding-bottom: 22px;
  margin-right: 60px;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 18px;
}

.search-form__field::-webkit-input-placeholder {
  color: white;
}

.search-form__field:-ms-input-placeholder {
  color: white;
}

.search-form__field::-ms-input-placeholder {
  color: white;
}

.search-form__field::placeholder {
  color: white;
}

.search-form__submit {
  color: white;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  padding: 15px 39px;
  background: #1b7dff;
  width: 171px;
  border: none;
}

.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background-color: #1753a1;
  cursor: pointer;
}

/*Intro styles end*/
/*Benefits styles start*/
.benefits__wrapper {
  position: relative;
  max-width: 1262px;
  height: 432px;
  margin: 0 auto;
  background-color: white;
  -webkit-box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
          box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  margin-bottom: 131px;
}

.benefits__title {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 893px 120px 100px;
  background: white;
}

.benefits__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 55px;
}

.card {
  padding-top: 41px;
  width: 317px;
  height: 228px;
}

.card__icon {
  max-width: 66px;
}

.card__title {
  font-weight: 500;
  font-size: 18px;
}

.card__description {
  margin-bottom: 39px;
}

/*Benefits styles end*/
/*Next-trip styles start*/
.next-trip__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 36px;
}

.next-trip__title {
  margin-right: 15px;
}

.gallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: 1.25fr 1fr;
      grid-template-rows: 1.25fr 1fr;
  grid-gap: 10px;
  margin-bottom: 131px;
}

.gallery__item {
  margin: 0;
  position: relative;
  overflow: hidden;
}

.gallery__item:hover .gallery__card {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.gallery__item::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  top: 0;
  left: 0;
  z-index: 3;
}

.gallery__item-large {
  grid-column: span 3;
}

.gallery__item-small {
  grid-column: span 2;
}

.gallery__item-name {
  color: white;
  z-index: 4;
  font-weight: bold;
  font-size: 50px;
  line-height: 60px;
  position: absolute;
  bottom: 27px;
  left: 29px;
}

.gallery__item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.gallery__item-large {
  height: 354px;
}

.gallery__item-small {
  height: 283px;
}

.gallery__card {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -webkit-transition: 0.15s all;
  transition: 0.15s all;
}

/*Next-trip styles end*/
/*Tours styles start*/
.tours__container {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 126px 108px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 139px;
}

.tours__content {
  padding-left: 47px;
}

.tours__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 45px;
}

.tours__description {
  margin-bottom: 94px;
}

/*Tours styles end*/
/* Places styles start */
.places__title {
  margin-bottom: 54px;
}

.places__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
  margin-bottom: 86px;
}

.places__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.places__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.places__card-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36, 0.6);
  padding: 16px 25px;
}

.places__card-title {
  font-weight: 500;
  font-size: 18px;
  margin: 0 auto 0 0;
}

.places__card-likes {
  font-weight: 500;
  padding-right: 20px;
  background: url(../images/svg/heart.svg) no-repeat right;
  margin-right: 14px;
}

.places__card-comments {
  font-weight: 500;
  padding-right: 23px;
  background: url(../images/svg/comment.svg) no-repeat right;
}

.places__card-desc {
  margin-bottom: 31px;
  color: black;
}

.places__card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006dfe;
  text-decoration: none;
  color: #fff;
  margin: auto 0 0 0;
}

.places__card-more:hover, .places__card-more:focus, .places__card-more:active {
  background: #1753a1;
}

/* Places styles end */
/* Video styles start */
.video {
  width: 100%;
}

.video__container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 30px;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Video styles end */
/* Footer styles start */
.footer {
  background: #0e1d28;
  padding: 119px 0;
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
}

.footer__menu {
  list-style-type: none;
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  text-decoration: none;
  color: white;
  margin: 0;
  margin-bottom: 3px;
}

.footer__menu-link {
  text-decoration: none;
  color: white;
  margin-bottom: 3px;
}

.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
  opacity: 0.75;
}

/* Footer styles end */
/*# sourceMappingURL=style.css.map */