@import "~normalize.css";

@import "~@fontsource/lato/400.css";
@import "~@fontsource/lato/700.css";

body {
  font-family: Lato;
  background: #f2f2f2;
}

.common {
  &__link {
    padding: 0 60px 0 0;
    background: url("./assets/images/arrow.svg") no-repeat;
    background-position: 95% center;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    color: #006dfe;
    transition: background 0.2s;

    &:hover {
      background-position: 100% center;
    }
  }
}

.header {
  &__layout {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    transition: background 0.2s;

    &--scrolled {
      background: #0e1d28;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1080px;
    height: 31px;
    margin: 0 auto;
    padding: 55px 0 14px;
  }

  &__logo {
    display: flex;

    img {
      width: 82px;
      height: 31px;
    }
  }

  &__menu {
    all: unset;
    display: flex;
    list-style: none;
  }

  &__menu-link {
    &:not(:first-child) {
      margin: 0 0 0 82px;
    }

    a {
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: #fff;

      &:hover {
        color: #dfdede;
      }
    }
  }
}

.hero {
  &__layout {
    width: 100%;
    height: 962px;
    padding: 0.1px 0;
    background: url("./assets/images/hero-background.jpg");
    background-size: cover;
  }

  &__content {
    width: 1080px;
    margin: 263px auto 0;
    color: #fff;
  }

  &__title {
    width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
  }

  &__description {
    width: 546px;
    margin: 22px 0 0;
    font-size: 16px;
    line-height: 24px;
  }

  .search-form {
    &__layout {
      display: flex;
      margin: 60px 0 0;

      & > *:not(:first-child) {
        margin: 0 0 0 60px;
      }
    }

    &__input {
      all: unset;
      width: 254px;
      height: 24px;
      padding: 0 0 24px 43px;
      border-bottom: 2px solid #bfc0c5;
      background: url("./assets/images/circle.svg") no-repeat;
      background-size: 20px;
      background-position: left 2px;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #fff;

      &::placeholder {
        color: #fff;
      }
    }

    &__button {
      all: unset;
      width: 171px;
      height: 58px;
      background: #1b7dff;
      font-weight: 500;
      font-size: 24px;
      line-height: 29px;
      text-align: center;
      text-transform: uppercase;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: #1665cc;
      }
    }
  }
}

.benefits {
  &__layout {
    width: 1080px;
    margin: -223px auto 0;
    padding: 100px;
    background: #fff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
    margin: 120px 0 0;
  }

  .benefit {
    &__title {
      margin: 37px 0 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }

    &__description {
      margin: 26px 0 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__more {
      margin: 39px 0 0;
    }
  }
}

.get-inspired {
  &__layout {
    width: 1280px;
    margin: 131px auto 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;

    &::after {
      display: block;
      content: "";
      margin: 7px 0 0;
      width: 253px;
      height: 2px;
      background: #006dfe;
    }
  }

  &__list {
    display: grid;
    grid-template-rows: 354px 283px;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    margin: 36px 0 0;
  }

  .place {
    &__layout {
      display: block;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);

      @for $i from 1 through 2 {
        &:nth-child(#{$i}) {
          grid-column-end: span 3;
        }
      }

      @for $i from 3 through 5 {
        &:nth-child(#{$i}) {
          grid-column-end: span 2;
        }
      }

      &:hover {
        .place__image {
          transform: translate(-50%, -50%) scale(1.05);
        }
      }
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: transform 0.2s;
    }

    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(21, 24, 36, 0.4);
    }

    &__title {
      all: unset;
      position: absolute;
      left: 30px;
      bottom: 25px;
      font-weight: bold;
      font-size: 50px;
      line-height: 60px;
      color: #ffffff;
    }
  }
}

.prefectures {
  &__layout {
    width: 1280px;
    margin: 131px auto 0;
  }

  .card {
    &__layout {
      display: flex;
      justify-content: space-between;

      &:not(:first-child) {
        margin: 77px 0 0;
      }
    }

    &__text {
      width: 503px;
      padding: 0 47px;
    }

    &__title {
      width: 360px;
      margin: 26px 0 0;
      font-weight: 500;
      font-size: 30px;
      line-height: 40px;
    }

    &__description {
      margin: 45px 0 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__more {
      margin: 45px 0 0;
    }
  }
}

.top-places {
  &__layout {
    width: 1280px;
    margin: 140px auto 0;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;

    &::after {
      display: block;
      content: "";
      margin: 7px 0 0;
      width: 253px;
      height: 2px;
      background: #006dfe;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px;
    margin: 64px 0 0;
  }

  .place {
    &__image-layout {
      position: relative;
      overflow: hidden;
      width: 386px;
      height: 377px;
    }

    &__image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__stat {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      bottom: 0;
      left: 0;
      box-sizing: border-box;
      padding: 0 25px;
      width: 100%;
      height: 55px;
      background: rgba(21, 24, 36, 0.6);
    }

    &__title {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      text-transform: uppercase;
      color: #fff;
    }

    &__likes {
      padding: 0 20px 0 0;
      background: url("./assets/images/heart.svg") no-repeat right bottom;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }

    &__comments {
      margin: 0 0 0 14px;
      padding: 0 20px 0 0;
      background: url("./assets/images/comment.svg") no-repeat right bottom;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
    }

    &__description {
      margin: 45px 0 0;
      font-size: 16px;
      line-height: 24px;
    }

    &__more {
      all: unset;
      margin: 31px 0 0;
      padding: 12px 19px;
      background: #006dfe;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 19px;
      color: #fff;
      cursor: pointer;

      &:hover {
        background: #1665cc;
      }
    }
  }
}

.video {
  &__layout {
    width: 1280px;
    margin: 144px auto 0;
  }

  iframe {
    display: block;
  }
}

.footer {
  &__layout {
    padding: 0.1px 0;
    background: #0e1d28;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 120px auto;
  }

  &__links {
    display: flex;
  }

  .link-list {
    &__layout {
      &:not(:first-child) {
        margin: 0 0 0 140px;
      }
    }

    &__title {
      margin: 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      color: #fff;
    }

    &__list {
      all: unset;
      list-style: none;
    }

    &__link {
      margin: 3px 0 0;

      a {
        font-size: 16px;
        line-height: 24px;
        text-decoration: none;
        color: #fff;

        &:hover {
          color: #dfdede;
        }
      }
    }
  }
}
